.pull-left{
    float: left;
}

.clearfix {
    clear: both;
}
  
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.health h2{
    font-family: "Helvetica";
    font-size: 22px;
    margin: 8px 0;
}

.health> p{
    padding-right: 56px;
    margin-bottom: 20px;
    font-family: "Helvetica";
    font-size: 14px;
    color: #bebebe;
}
.health-up {
    padding: 60px 0 20px;
    text-align: center;
}
.gender> input[type="radio"]{
    margin:0;
    padding:0;
    -webkit-appearance:none;
       -moz-appearance:none;
            appearance:none;
}
.content input[type="checkbox"]{
    width: 30px;
    height: 20px;


}


.box{
    padding: 20px 0;
    border-bottom: 2px solid #e4e4e4;
    width: 80%;
    margin: 0 auto;
}

.box h3{
    padding-right: 100px;
    color: #bebebe;
    font-family: "Helvetica";
    text-align: left;
    width: 20%;
}
/*
.box .content{
    padding-top: 20px;
}*/

.health{
    margin: 0 auto;
}
label.container p {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}
.c-female{
    
}
.c-male{

}
.f-h{
    margin: 25px 0;
}
.cc-selector{
    display: -webkit-inline-box;
}
.cc-selector input[type="radio"]{
    margin: auto;
    position: relative;
    height: 80px;
    width: 80px;
    z-index: 1;
    left: 80px;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.Female{background-image:url("../../imgs/person-female.png");}
.Male{background-image:url("../../imgs/user.png");}
.cc-selector p{
    display: inline;
    height: 100%;
    position: relative;
    bottom: 30px;
    left: 20px;
}
.cc-selector input:active +.drinkcard-cc{
    opacity: .9;
}
.cc-selector input:checked +.drinkcard-cc{
    -webkit-filter: none;
       -moz-filter: none;
            filter: none;
}
.drinkcard-cc{    
    cursor: pointer;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px #cecece;
    display: inline-block;
    background-color: azure;
    width: 80px;
    border-radius: 50%;
    height: 80px;
    -webkit-transition: all 100ms ease-in;
    -o-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
    -webkit-filter: brightness(1.8) grayscale(1) opacity(.7);
    -moz-filter: brightness(1.8) grayscale(1) opacity(.7);
    filter: brightness(1.8) grayscale(1) opacity(.7);
}
.drinkcard-cc:hover{
    -webkit-filter: brightness(1.2) grayscale(.5) opacity(.9);
       -moz-filter: brightness(1.2) grayscale(.5) opacity(.9);
            filter: brightness(1.2) grayscale(.5) opacity(.9);
}

/* Extras */
a:visited{color:#888}
a{color:#444;text-decoration:none;}
p{margin-bottom:.3em;}
/*input type checkbox */
/* The container */

.container {
    position: relative;
    display: inline-flex;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.diabetes {
    padding-right: 56px;
    display: inline;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.diabetes >span{
    border-radius: 50%;
    border: 2px solid #eee
}
/* Hide the browser's default checkbox */
.diabetes input,
.container input {
    position: relative;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input[type="checkbox"]:checked ~ .checkmark {
    background-color: #2196F3;
}
/*when the radio button checked,add a blue background*/
.diabetes >input[type="radio"]:checked  ~ .checkmark{
    background-color: #2196F3;
}
.diabetes >input[type="radio"] {
    height: 30px;
    width: 20px;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    margin: auto;
    top: 8px;
    width: 8px;
    position: relative;
    height: 16px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*end input type checkbox*/

/*
* start styling height and weight
*/
.metre{
    /*background-color: #2196F3;*/
    width: 40px;
    height: 40px;
    margin-left: 10px;
}

.mesure >p{
    display: inline;    
    margin-right: 5px;
    margin-left: 5px;

}
.centimetre,
.weight
{
    /*background-color: #2196F3;*/
    width: 60px;    
    margin-left: 10px;
    height: 40px;
}


/*
*end styling height & weight
*/

/*styling activity level
*/

.test{
    display: inline-block;
}
.Byke{background-image:url("../../imgs/bike.png");}
.Couch{background-image:url("../../imgs/couch.png");}

/*
end styling activity level*/

.test p {
    height: 100%;
    position: relative;
    bottom: 30px;
    left: 0;
}
label.c-couch h6,label.c-byke h6 {
    margin: 0 0 34px;
    font-size: 18px;
}
.test input[type="radio"]{
    margin: auto;
    position: relative;
    height: 80px;
    width: auto;
    z-index: 1;
    padding: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.activity-left .checkmark{
    top: -46px;
}